
body{
    margin-top:90px;
}

.navbar{
    box-shadow: 2px 2px 5px #3292a6;
    background: #fff;
    opacity: 0.9;
}
.nav-item{
    font-size: 1.4rem;
    padding-right: 20px;
}
.nav-item:last-child{
    padding-right: 0;
}
.nav-link{
    color: #252525;
}
.nav-link:hover{
    color:#3292a6;
}
#showcase{
    background:url('../img/mountains.jpg');
     min-height: 600px;
    position: relative;
}
.overlay{
    background:rgba(50, 146, 156, 0.7);
    min-height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.btn-group-lg >.btn, .btn-lg{
   border-radius: none; 
}
#subscribe{
    background: #252525;
}
#subscribe .btn{
    background:#3292a6; 
}

#authors img{
    margin-top: -50px;
}

#authors .card:hover{
    background: #3292a6;
    color: #fff;
}
#authors .fab{
   font-size: 22px;
}
#authors .card:hover .fab{
    color: #fff;
}

#footer span a{
    color: #fff;
}







@media only screen and (max-width:568px){
    #showcase h1{
        font-size: 4rem;
    }
}

